<section class="about-main">
  <div id="about-col"> <%= image_tag "ben_lopata.jpg" %>
  </div>
  <div id="about-col"> 
    <p>Hello! My name is Ben Lopata, and I was born in raised in the wonderful city of Chicago, and currently reside in Little Rock, Arkansas. I am an engineer, pragmatic generalist, and proudly wear the title of student. My goals are to optimize my life, expand my understanding and knowledge of the world, and to live with compassion.</p><br>
    <p> I have a passion for software development and I am experienced with JavaScript, C#/.NET, python, Ruby on Rails, and Elixir/OTP. View my <%= link_to 'Github', 'https://github.com/blopata' %> to see what I've been working on.</p>
  </div>
</section>