
<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>
        Hello. My name is <span class="highlight">Ben Lopata</span> and I am a
        software developer, lifelong learner, and passionate human.
      </h2>
      <a class="btn right" href="portfolio">View my Work</a>
    </div>
  </div>
</div>
