
<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>
        Hello. My name is <span class="highlight">Ben Lopata</span> and I am a
        software developer, lifelong learner, and passionate human.
      </h2>
      <%= link_to 'View my work', '/portfolio/', class: "btn right" %>
    </div>
  </div>
</div>
